NEXT_PUBLIC_SUPABASE_URL=https://skjjmeootjoqyomprzbf.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNramptZW9vdGpvcXlvbXByemJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NDM0MjQsImV4cCI6MjA5MDQxOTQyNH0.ARhNphgXbUjdh4v6a8Jh67NhP1L6tZmQVQooJHT43Ok
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNramptZW9vdGpvcXlvbXByemJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDg0MzQyNCwiZXhwIjoyMDkwNDE5NDI0fQ.MXB-YjFmbgr7eUz8Om2w5oLa1pKUKz7ib-6mwS5B6ew
DATABASE_URL=postgresql://postgres.skjjmeootjoqyomprzbf:@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
